---
import Translator from './system/Translator.astro';
---

<section id="two">
  <div id="concept" class="inner">
    <header class="major">
      <h2>
        <Translator name="landing.concept.title" />
      </h2>
    </header>
    <p>
      <Translator name="landing.concept.text1" />
    </p>
    <p>
      <Translator name="landing.concept.text2" />
    </p>
    <p>
      <Translator name="landing.concept.text3" />
    </p>
    <p>
      <Translator name="landing.concept.text4" />
    </p>
    <p>
      <Translator name="landing.concept.text5" />
    </p>
    <p>
      <Translator name="landing.concept.text6" />
    </p>
    <p>
      <Translator name="landing.concept.text7" />
    </p>
    <p>
      <Translator name="landing.concept.text8" />
    </p>
    <p>
      <Translator name="landing.concept.text9" />
    </p>
  </div>
</section>
