---
import Translator from '../components/system/Translator.astro';
import star from '../assets/images/services/star-fill.svg';
import image2 from '../assets/images/landing/image2.jpg';
---

<section id="main" class="page">
    <div id="one" class="inner">
      <header class="major">
        <h2>
          <Translator name="section.services.rates" />
        </h2>
      </header>
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2">
          <h3>
            <Translator name="section.services.personal.training.title", />
          </h3>
          <ul>
            <li>
              <Translator name="section.services.personal.training.text1", isHtml />
            </li>
            <li>
              <Translator name="section.services.personal.training.text2", isHtml />
            </li>
            <li>
              <Translator name="section.services.personal.training.text3", isHtml />
            </li>
          </ul>
          <h3 class="flex mt-16 mb-0">
            <Translator name="section.services.personal.duo.training.title" />
            <img src={star.src} alt="Star" width={32} height={50} class="inline-block ms-2" />
          </h3>
          <div class="mb-[1em]">
            <Translator name="section.services.personal.duo.training.text4" />
          </div>
          <ul>
            <li>
              <Translator name="section.services.personal.duo.training.text1", isHtml />
            </li>
            <li>
              <Translator name="section.services.personal.duo.training.text2", isHtml />
            </li>
            <li>
              <Translator name="section.services.personal.duo.training.text3", isHtml />
            </li>
          </ul>
          <h3 class="mt-16">
            <Translator name="section.services.personal.three.training.title" />
          </h3>
          <ul>
            <li>
              <Translator name="section.services.personal.three.training.text1", isHtml />
            </li>
            <li>
              <Translator name="section.services.personal.three.training.text2", isHtml />
            </li>
            <li>
              <Translator name="section.services.personal.three.training.text3", isHtml />
            </li>
          </ul>
          <h3 class="mt-16">
            <Translator name="section.services.personal.six.training.title" />
          </h3>
          <ul>
            <li>
              <Translator name="section.services.personal.six.training.text1", isHtml />
            </li>
            <li>
              <Translator name="section.services.personal.six.training.text2", isHtml />
            </li>
            <li>
              <Translator name="section.services.personal.six.training.text3", isHtml />
            </li>
          </ul>
          <h3 class="mt-16">
            <Translator name="section.services.personal.free.training.title" />
          </h3>
          <ul>
            <li>
              <Translator name="section.services.personal.free.training.text1", isHtml />
            </li>
            <li>
              <Translator name="section.services.personal.free.training.text2", isHtml />
            </li>
            <li>
              <Translator name="section.services.personal.free.training.text3", isHtml />
            </li>
          </ul>
          <h3 class="mt-16">
            <Translator name="section.services.personal.studio.rent.title" />
          </h3>
          <ul>
            <li>
              <Translator name="section.services.personal.studio.rent.text1", isHtml />
            </li>
          </ul>
          <h3 class="mt-16">
            <Translator name="section.services.personal.online.training.title" />
          </h3>
          <div>
            <Translator name="section.services.personal.online.training.text1", isHtml />
            :
          </div>
          <ul>
            <li>
              <Translator
                name="section.services.personal.online.training.text2", isHtml
              />
            </li>
          </ul>
          <header class="major">
            <h2 class="mt-20">
              <Translator name="section.services.title" />
            </h2>
          </header>
          <div><Translator name="section.services.description", isHtml /></div>
        </div>
        <div class="w-0 lg:w-1/2">
            <img src={image2.src} alt="Servicios" width={600} height={450} class="mx-auto" />
        </div>
      </div>
    </div>
  </section>