---
import { getStaticLangPaths } from '../../translations/paths';

export async function getStaticPaths() {
  return getStaticLangPaths();
}
const { lang } = Astro.params
import LandingCover from '../../components/LandingCover.astro';
import Sections from '../../components/Sections.astro';
import Concept from '../../components/Concept.astro';
import Layout from '../../components/Layout.astro';

---

<Layout lang={lang}>
  <div>
    <section id="main">
      <LandingCover />
      <Sections />
      <Concept />
    </section>
  </div>
</Layout>
